<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
  
    <add name="DBConnectionStringMasters" connectionString="server=10.134.134.10; user id=hippocareuat; pwd=Careuat@123$#@!;database=HIPPO_HIS_DEV" />
    <!--<add name="DBConnectionStringMasters1" connectionString="server=172.18.17.83; user id=hisappuser; pwd=Ahh@123!@#;database=SIGNATURE_PORTAL" />
    <add name="DBConnectionStringMasters2" connectionString="server=172.18.17.83; user id=hisappuser; pwd=Ahh@123!@#;database=SIGNATURE_PORTAL" />
    <add name="DBConnectionStringTrans" connectionString="server=172.18.17.83; user id=hisappuser; pwd=Ahh@123!@#;database=SIGNATURE_PORTAL" />-->
  </connectionStrings>
  <appSettings>
    <add key="GCS.CredentialsPath" value="C:\GCS\ahh-prod-prj-gcs-svc.json" />
    <add key="GCS.BucketName" value="ahh-his-gcp-bucket" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultWorkstationId" value="3601" />
    <add key="DefaultUserId" value="1" />
    <add key="DefaultHospitalId" value="3" />
    <add key="FreeSlotCount" value="10" />
    <add key="FreeSlotDuration" value="15" />
    <add key="MobileURL" value="http://mshastra.com/sendurlcomma.aspx?" />
    <add key="MobileUserUser" value="20097552" />
    <add key="MobilePassword" value="deepak@2020" />
    <add key="MobileSender" value="ALHAMMADI" />
    <add key="ISDCode" value="966" />
    <add key="TestId" value="4078,4085,4066,3647,3506,3355,4080,4291,4280,3357,3564,4226,4950,22887,3478" />
    <add key="strIPAdd" value="172.18.17.219" />
    <add key="strUser" value="Ahh\pavan" />
    <add key="strPwd" value="210614@Prashu" />
    <add key="strRemote" value="LabReports" />
    <add key="strRemoteSpec" value="LabReports" />
    <add key="strRemoteSpecImages" value="SpecsImages" />
    <add key="strReportsIPAddress" value="172.18.17.219" />
    <!--<add key="strReportsIPAddress" value="51.211.173.51:7060"></add>-->
    <!--For Medical Reports folder -->
    <add key="strRemoteMedicalCertificate" value="MRDCertificates" />
    <!-- Currenty day schedule allowable time , should be in minutes-->
    <add key="CurrentDayTimeGap" value="15" />
    <add key="DepositMandatory" value="NO" />
    <add key="PatientOutstandingAproval" value="YES" />
    <add key="DoctorFollowup" value="YES" />
    <add key="OpBillingValidationofProfileAndPHC" value="YES" />
    <add key="Yaico" value="NO" />
    <add key="OPConsultationSameDayDepartment" value="YES" />
    <add key="FollowUpMsgYESNO" value="NO" />
    <add key="NewVisitOrderTypeId" value="49" />
    <add key="IsGeneralExcluded" value="YES" />
    <add key="TestApplicable" value="NO" />
    <add key="IsEmergency" value="TRUE" />
    <add key="QtyAllow" value="20" />
    <add key="CRDiscountforPatient" value="NO" />
    <add key="IsLimitExceeds" value="YES" />
    <add key="TAXtype" value="1" />
    <add key="IsEmergency" value="true" />
    <add key="stopcashtocredit" value="no" />
    <add key="HISConfig" value="5,-1,49" />
    <add key="ResourceAvailability" value="NO" />
    <add key="AgreementPrice" value="YES" />
    <add key="OPBillBasePrice" value="NO" />
    <add key="EMRAutoTests" value="5410,5286" />
    <add key="MiscDoctorEntry" value="no" />
    <add key="OPBillingDoctorCode" value="900" />
    <add key="AmountRemarks" value="YES" />
    <add key="CashIssuePrintRxDiagnosis" value="YES" />
    <add key="strPrescriptionRemote" value="PrescriptionReports" />
    <add key="IOSVersion" value="1.0.0.20" />
    <add key="AndriodVersion" value="1.0.0.20" />
    <add key="IOSURL" value="http://api/iosurl" />
    <add key="AndriodURL" value="http://api/androidurl" />
    <add key="ForceUpdate" value="0" />
    <add key="PaymentUser" value="syed@alhammadi.com" />
    <add key="PaymentPassword" value="Ahh@123321" />
    <add key="ProfileID" value="53146" />
    <add key="ServerKey" value="SNJNML6MBK-HZWRKDHJ6H-9LRKDRKTLK" />
    <add key="CardValidity" value="09-03-2023" />
    <add key="CardTypeID" value="1" />
    <add key="BankID" value="19" />
    <add key="FTPHost" value="ftp://172.18.17.219/" />
    <add key="FTPUserName" value="Ahh\pavan" />
    <add key="FTPPassword" value="210615@Prashu" />
    <add key="FTPDirectoryFilePath" value="LabReports/" />
    <add key="TimeBasedVedioIconEnable" value="YES" />
    <add key="TimeBasedVedioIconEnableSpan" value="10" />
    <add key="OnlinePayConsultation" value="NO" />
	  
	  <!--mail configuration-->
	  <add key="Smtp.Host" value="smtp.office365.com" />
	  <add key="Smtp.Port" value="587" />
	  <add key="Smtp.EnableSsl" value="true" />
	  <add key="Smtp.FromAddress" value="test3@alhammadi.com" />
	  <add key="Smtp.FromName" value="Al Hammadi e-Signature" />
	  <add key="EsignAppBaseUrl" value="https://esign.alhammadi.com" />

	  <add key="Smtp.Username" value="Pavan Chilveru" />
	  <add key="Smtp.Password" value="Alhammadi@1234" />

	  <add key="AzureAd.TenantId" value="64ec65dd-78f8-470c-802f-a9566db9d4a6" />
	  <add key="AzureAd.ClientId" value="983ef449-b93c-4bc2-b8a2-9a0802da4fed" />
	  <add key="AzureAd.ClientSecret" value="o9t8Q~gBujLsxkds6pnYWShL0BbRzrU.5B.Sub1H" />
	  
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="120" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity
				name="System.Text.Json"
				publicKeyToken="cc7b13ffcd2ddd51"
				culture="neutral" />

			<bindingRedirect
				oldVersion="0.0.0.0-7.0.0.0"
				newVersion="7.0.0.0" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
		</dependentAssembly>

		<dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Buffers"
							  publicKeyToken="cc7b13ffcd2ddd51"
							  culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.2.0"
							 newVersion="4.0.2.0" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
		</dependentAssembly>

		<dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
		</dependentAssembly>

		<dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
		</dependentAssembly>

		<dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.74.0.0" newVersion="1.74.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.74.0.0" newVersion="1.74.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.74.0.0" newVersion="1.74.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>

		<dependentAssembly>
			<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
		</dependentAssembly>
		
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SvcCommonBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:59:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.18.17.219/Wipro.NxG.Common/CommonSearchService.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="CommonSearch.CommonSearchServiceContract" name="CommonSearchSvcEndpoint" />
      <endpoint address="http://172.18.17.219/Wipro.NXG.Admin/AdminServiceRef.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="AdminService.IAdmin" name="NxGAdminbasicEndpoint" />
      <endpoint address="http://172.18.17.219/Wipro.NxG.ContractMgmt/ContractMgmtServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="ContractMgmtService.ContractMgmtServiceContract" name="ContractMgmtEndpoint" />
      <endpoint address="http://172.18.17.219/Wipro.NxG.AR/ARServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="ARService.ARServiceContract" name="AREndpoint" />
      <endpoint address="http://172.18.17.219/Wipro.NxG.IPBilling/IPBillingServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="IPBillingService.IPBillingServiceContract" name="IPBillingEndpoint" />
      <endpoint address="http://172.18.17.219/Wipro.NxG.BillingFacade/BillingFacadeServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="BillingFacadeService.BillingFacadeServiceContract" name="BillingFacadeEndpoint" />
      <endpoint address="http://172.18.17.219/Wipro.NxG.BillCalculation/BillingCalculationServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="SvcCommonBinding" contract="BillingCalculationService.BillingCalculatonServiceContract" name="BillingCalculationEndpoint" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>